.random{
color:#0b1f3b;
}

html {
scroll-behavior:smooth;
}

.nav-bar{
text-align:center;
padding-left:10px;
font-size:500px;
}

.landing {
background-color: white;
}

.logo-image {
display:flex;
flex-direction:row;
justify-content:center;
}

body {
background-color:#FAF9F6;
background-color:white;

}

.nav-bar {
font-size:22px;
text-decoration:dashed;
color:black;
}

.start {
text-align:center;
}

#Event-heading {
font-size:35px;
}

#Event-Details {
font-size:25px;
}

#About {
background-color: #0b1f3b;
color:white;
padding-left: 200px;
padding-right:200px;
}

#abt{
text-align:center;
font-size:50px;
padding-bottom:5px;
}

#abt-des {
text-align:center;
font-size:25px;
margin-top:10px;
line-height:50px;
margin-bottom:50px;
padding-bottom:20px;
}

#Our_Mission {
color:white;
padding-bottom:10px;
text-align:center;
}

#mission-heading {
font-size:50px;
line-height:40px;
padding-bottom:10px;
}

#mis-text {
text-align:center;
font-size:25px;
line-height:50px;
margin-bottom:50px;
padding-bottom:20px;
}

#vision-head {
font-size:50px;
line-height:40px;
padding-bottom:10px;
}

#vision-text {
text-align:center;
font-size:25px;
line-height:50px;
margin-bottom:50px;
padding-bottom:20px;
}


#head-text {
text-align:center;
font-size:30px;
}

#subheading-schedule {
font-size:25px;
padding-bottom:50px;
text-align:center;
}


#Schedule {
padding-left:200px;
padding-right:200px;
font-size:20px;
background-color:#124e5f;
color:white;
}

.sche {
font-size:25px;
display: inline-block;
margin-top: 5px;
margin-bottom: 5px;
text-align:right;
}

time{
}

.schedule-info {
}

#Partner-heading {
padding-left:200px;
padding-right:200px;
font-size:20px;
color:black;
text-align:center;
font-size:3rem;

}

.NDB-logo {
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding: left 15px;
padding-right:15px;
padding-bottom:100px;
padding-top:50px;
}

#ndb-text {
font-size: 22px;
text-align: center;
padding-left:275px;
padding-right:275px;
padding-top:5px;
line-height:30px;
}


#Eds-logo-src {
height:300px;
object-fit: contain;
}

.org-grid {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
gap:50px;
padding-top:-200px;
}

#oracy-text {
font-size:18px;
line-height:30px;
padding-left:10px;
padding-right:10px;
padding-top:15px;
padding-bottom:35px;
text-align:left;
}

#eds-text {
font-size:18px;
line-height:30px;
padding-left:5px;
padding-right:10px;
padding-top:15px;
padding-bottom:35px;
text-align:left;
}

#bona-text {
font-size:18px;
line-height:30px;
padding-left:5px;
padding-right:10px;
padding-top:35px;
padding-bottom:35px;
text-align:left;
}

#org-text {
text-align:center;
font-size:30px;
padding-bottom:30px;
}

#org-team{
text-align:Center;
Font-size:40px;
margin-bottom:100px;
}

#Tournament-Director,#Supervisor,#Chief-Adjudicator,#Bona-rep,#Tabber,#equity-officer,.ndb-adjudicator,.adjudicator,.logistics-team{
border-radius:100%;
height:250px;
width:250px;
object-fit: cover;
}

#Organising_team {
display:grid; 
grid-template-columns: repeat(4,1fr);
padding-left:100px;
padding-right:100px;
gap:80px;
}

#org-bot-text {
text-align:center;
margin-top:100px;
font-size:25px;
padding-left:200px;
padding-right:200px;

}

.role,.name,.prof-role{
text-align:center;

}



#Registration{
background-color:white;
}

#form-head{
text-align: center;
font-size:80px;
padding-top:30px;
}

#register-text {
font-size:45px;
color:white;
padding-left:150px;
padding-right:150px;;
padding-top:-25px;
}

#centering{
display:flex;
flex-direction:column; 
align-items:center;

}

#form {
display: inline-block;
border:5px,solid,#d4a017;
background-color:#0b1f3b;
}

a:hover{
color:#d4a017;
}

a:active{
color:blue;
}

#registration-text {
line-height:40px;
padding-top:40px;
text-align:center;
font-size:25px;
padding-left:40px;
padding-right:40px;
padding-bottom:20px;;
}

#reg-date {
text-align:center; 
font-size:25px;
padding:5px;;
}





#contact-heading {
font-size:45px;
text-align:center;
padding-top:0px;
padding-bottom:5px;
}



#insta{
display:flex;
flex-direction:column;
align-items:flex-end;
}