#logo-at-top{
display:flex; 
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}

.random{
color:#0b1f3b;
}

html {
scroll-behavior:smooth;
}

.landing {
background-color: white;
padding-bottom:80px;
}

.nav-bar {
display:flex;
flex-direction:row;
align-items: center;
justify-content:center;
font-size:30px;
padding-bottom:15px;
padding-bottom:15px;
font-family: 'Lato', sans-serif;
text-decoration:dashed;
background-color:#FAF9F6;

gap:30px;
position:fixed;
top:0;
left:0;
width:100%;
z-index: 1000;
}

.nav-bar a {
color:black;
text-decoration:none;
}

.logo-image {
display:flex;
flex-direction:row;
justify-content:center;
}

body {
background-color:#FAF9F6;
background-color:white;
padding-top:115px;
font-family: 'Calibri Light', sans-serif;  
}


.start {
text-align:center;
font-size:30px;
font-family: 'Lato', sans-serif;
}

#Event-heading {
font-size:35px;
font-family: 'Lato', sans-serif;
}

#Event-Details {
font-size:25px;
}

#About {
background-color: #0b1f3b;
color:white;
padding-left: 200px;
padding-right:200px;
overflow:auto;
}

#abt{
text-align:center;
font-size:50px;
padding-bottom:5px;
font-family: 'Montserrat', sans-serif;
}

#abt-des {
text-align:center;
font-size:25px;
margin-top:10px;
line-height:50px;
margin-bottom:50px;
padding-bottom:20px;
}

#Our_Mission {
color:white;
padding-bottom:10px;
text-align:center;
}

#mission-heading {
font-size:50px;
line-height:40px;
padding-bottom:10px;
font-family: 'Montserrat', sans-serif;
}

#mis-text {
text-align:center;
font-size:25px;
line-height:50px;
margin-bottom:50px;
padding-bottom:20px;
}

#vision-head {
font-size:50px;
line-height:40px;
padding-bottom:10px;
font-family: 'Montserrat', sans-serif;
}

#vision-text {
text-align:center;
font-size:25px;
line-height:50px;
margin-bottom:50px;
padding-bottom:20px;
}

#vis-line{
margin-bottom:5px;
}

#head-text {
margin-top:0px;
text-align:center;
font-size:50px;
font-family: 'Montserrat', sans-serif;
}

#subheading-schedule {
font-size:30px;
padding-bottom:50px;
text-align:center;
font-family: 'Lato', sans-serif;
}


#Schedule {
padding-top:50px;
padding-left:200px;
padding-right:200px;
font-size:20px;
background-color:#124e5f;
color:white;
}

.schedule-row {
display:flex;
flex-direction:row;
justify-content:space-between

}

.sche {
font-size:25px;
margin-bottom:15px;
font-family: 'Lato', sans-serif;
}

.time {
font-size:20px;
padding-top:6px;
margin-bottom:15px;
font-family: 'Lato', sans-serif;
}

#Partner-heading {
padding-left:200px;
padding-right:200px;
font-size:50px;
color:black;
text-align:center;
font-family: 'Montserrat', sans-serif;
}

.NDB-logo {
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding: left 15px;
padding-right:15px;
padding-bottom:100px;
padding-top:50px;
}

#ndb-text {
font-size: 22px;
text-align: center;
padding-left:275px;
padding-right:275px;
padding-top:5px;
line-height:30px;
margin-top:30px;
}


#Eds-logo-src {
height:300px;
object-fit: contain;
}

.org-grid {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
gap:50px;
padding-top:-200px;
}

#oracy-text {
font-size:18px;
line-height:30px;
padding-left:10px;
padding-right:10px;
padding-top:15px;
padding-bottom:35px;
text-align:left;
}

#eds-text {
font-size:18px;
line-height:30px;
padding-left:5px;
padding-right:10px;
padding-top:15px;
padding-bottom:35px;
text-align:left;
}

#bona-text {
font-size:18px;
line-height:30px;
padding-left:5px;
padding-right:10px;
padding-top:35px;
padding-bottom:35px;
text-align:left;
}

#org-text {
text-align:center;
font-size:30px;
padding-bottom:30px;
font-family: 'Lato', sans-serif;
}

#org-team{
text-align:Center;
Font-size:50px;
margin-bottom:100px;
font-family: 'Montserrat', sans-serif;
}

#Tournament-Director,#Supervisor,#Chief-Adjudicator,#Bona-rep,#Tabber,#equity-officer,.ndb-adjudicator,.adjudicator,.logistics-team{
border-radius:100%;
height:250px;
width:250px;
object-fit: cover;
}

.role {
font-family: 'Montserrat', sans-serif;
font-size:17px;
font-weight:600;
}

.name {
font-family: 'Calibri Light', sans-serif; 
font-size:20px;
font-weight:500;
}

.prof-role {
font-family: 'Lato', sans-serif;
font-size:15px;
font-weight:400;
}

#Organising_team {
display:grid; 
grid-template-columns: repeat(4,1fr);
padding-left:100px;
padding-right:100px;
gap:80px;
}

#org-bot-text {
text-align:center;
margin-top:100px;
font-size:25px;
padding-left:200px;
padding-right:200px;
}

.role,.name,.prof-role{
text-align:center;
}

#Registration{
background-color:#0b1f3b;
}

#form-head{
text-align: center;
font-size:50px;
padding-top:0px;
color:white; 
font-family: 'Montserrat', sans-serif;
}

#register-text {
font-size:45px;
color:white;
padding-left:150px;
padding-right:150px;;
padding-top:-25px;
font-family: 'Lato', sans-serif;
}

a{
color:blue;
}

#centering{
display:flex;
flex-direction:column; 
align-items:center;

}

#form {
display: inline-block;
border:5px,solid,black;
background-color:#d4a017;
}

a:hover{
color:#d4a017;
}

a:active{
color:white;
}

#registration-text {
padding-top:40px;
text-align:center;
font-size:25px;
padding-left:40px;
padding-right:40px;
padding-bottom:20px;;
line-height:50px;
color:white;
}

#reg-date {
text-align:center; 
font-size:30px;
padding:5px;;
color:white;
}

#text-payment {
text-align:center;
font-size:25px;
color:white;
}

#contact-heading {
font-size:50px;
text-align:center;
padding-top:0px;
padding-bottom:5px;
font-family: 'Montserrat', sans-serif;
}

.email-heading {
font-family: 'Lato', sans-serif;
}

.email {
color:blue;
text-decoration:underline;
}

#father {
display:flex;
justify-content:space-around;
}

#left-side{
display:flex;
justify-content:center;
flex-direction:column;
gap:0px;
}

#right-side{
display:flex;
flex-direction:column;
justify-content:flex-start;
}

#insta-desc a {
text-decoration:dashed,solid blue;
}

#g-maps{
display:flex;
flex-direction:column;
justify-content:flex-end;
border-radius:10%;
}

#end-text {
display:flex;
flex-direction:row;
justify-content:center;
gap:2px;
}

